.snakebody_0
{
	background-image: url("snakebody_0.png");
	background-size: 100% 100%;
}

.snakebody_1
{
	background-image: url("snakebody_1.png");
	background-size: 100% 100%;
}

.snakebody_3
{
	background-image: url("snakebody_3.png");
	background-size: 100% 100%;
}

.snakebody_2
{
	background-image: url("snakebody_2.png");
	background-size: 100% 100%;
}

.snakehead_1
{
	background-image: url("snakehead_1.png");
	background-size: 100% 100%;
}

.snakehead_3
{
	background-image: url("snakehead_3.png");
	background-size: 100% 100%;
}

.snakehead_0
{
	background-image: url("snakehead_0.png");
	background-size: 100% 100%;
}

.snakehead_2
{
	background-image: url("snakehead_2.png");
	background-size: 100% 100%;
}

.snaketail_1
{
	background-image: url("snaketail_1.png");
	background-size: 100% 100%;
}

.snaketail_3
{
	background-image: url("snaketail_3.png");
	background-size: 100% 100%;
}

.snaketail_0
{
	background-image: url("snaketail_0.png");
	background-size: 100% 100%;
}

.snaketail_2
{
	background-image: url("snaketail_2.png");
	background-size: 100% 100%;
}

.grass
{
	background-image: url("grass.png");
	background-size: 100% 100%;
}

.stone
{
	background-image: url("stone.png");
	background-size: 100% 100%;
}

.food
{
	background-image: url("food.png");
	background-size: 100% 100%;
}
